<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="'viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Page</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Adjust the path as needed -->

</head>

<body>
    <h1> Quiz Practise - {{book_name}} </h1>

     <form method="post" action="{{ url_for('index') }}">
        <button type="submit" name="action" value="key">Random Key - single word</button>
        <button type="submit" name="action" value="key2">Random Keys - two words</button>
        <button type="submit" name="action" value="result">Show Result</button>
    </form>

    {% if user_input %}
        <p> Key: {{user_input}}</p>
    {% endif %}

    {% if quote_txt %}
        <p> Quote: <p>
        {{ quote_txt|safe }}
    {% endif %}


</body>
</html>